<div class="col-md-4">
  <div class="card mt-5 ml-2">
    <% if customer.image.present? %>
    <%= image_tag customer.image.variant(resize_to_limit: [600,200]), class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= customer.full_name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Phone Number: <%= customer.phone_number%></li>
        <li class="list-group-item">Email: <%= customer.email %></li>
      </ul>
      <a href="#" class="btn btn-primary mt-3">View</a>
    </div>
  </div>
</div>
